/* RESETS */
*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    /* height: 100%; */
    padding:5% 15%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;

}

.correct-answer{
    position:absolute;
    bottom:-90px;
    margin:0 auto;
    width:100%;
    border-top:solid #DDD 2px;
    content:"";
}
.answer-text{
    padding-top:20px;
    margin-top:0;
}
.highscoreText{
padding-left:20px;
}
/* .correct-answer{
    content:"incorrect!";
    position:absolute;
    bottom:-100px;
    left:20px;
    margin:0 auto;
    width:100%;
    font-size:40px;
color:red;
} */
main{
    flex:1;
    position: relative;
}
header, footer{
    /* background-color: black; */
}

header,footer, main{
    /* padding:0 20%; */
}

a{
    text-decoration: none;
    color:black;
}

/* GENERAL */

.text-center{
    text-align: center;
}


.align-center{
    align-items: center;
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.justify-between{
    justify-content: space-between;
}
button {

    border: none;
    background-color: blue;
    color:white;
    cursor: pointer;
    width: fit-content;
}

button:hover{
    background-color: lightblue;
}



/* MAIN */

.hide{
    transition: 0.3s;
opacity: 0;
    /* display:none; */
}
.unhide{
    transition: 0.3s;
    opacity: 1;
    z-index: 100;
    /* display:block; */
}
.quiz-section{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
}

.correct{
color: green;
}
.incorrect{
color: red;
}

.answer{
    padding:10px 20px;
    margin:10px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color:white;
    cursor: pointer;
    width: fit-content;
}

main h2{
    margin-bottom: 0px;
}


.question{
    padding:20px;
}


.answers-container{
    padding:20px 40px 0px;
}


.initials-container{
    padding-bottom:20px;
}

.highscore{
    color:black;
    background-color: lightblue;
    padding:3px;
}
.button{
    padding:5px;
    border-radius:5px;
    margin:0 10px 0 0;
}




/* FOOTER */

.my_name{
    color:lightgray;
    font-size: .6em;
}