/* RESETS */
*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    padding:5% 15%;
}

main h2{
    margin-bottom: 0px;
}


main{
    flex:1;
    position: relative;
}

a{
    text-decoration: none;
    color:black;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

/* GENERAL */

.text-center{
    text-align: center;
}


.align-center{
    align-items: center;
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.justify-between{
    justify-content: space-between;
}

.hide{
    transition: 0.3s;
opacity: 0;
    /* display:none; */
}
.display-none{
    height: 0px;
    visibility: hidden;
}
.unhide{
    transition: 0.3s;
    opacity: 1;
    z-index: 100;
    /* display:block; */
}



/* MAIN */

.quiz-section{
    position:absolute;
    top:0;
    left: 0;
    right: 0;
}

.correct{
color: green;
}
.incorrect{
color: red;
}


.question{
    padding:20px;
}

.initials-container{
    padding-bottom:20px;
}

.button{
    padding:5px;
    border-radius:5px;
    margin:0 10px 0 0;
}
button {

    border: none;
    background-color: blue;
    color:white;
    cursor: pointer;
    width: fit-content;
}

button:hover{
    background-color: lightblue;
}

.correct-answer{
    position:absolute;
    bottom:-90px;
    margin:0 auto;
    width:100%;
    border-top:solid #DDD 2px;
    content:"";
}
.answer-text{
    padding-top:20px;
    margin-top:0;
}
.answers-container{
    padding:20px 40px 0px;
}

.answer{
    padding:10px 20px;
    margin:10px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color:white;
    cursor: pointer;
    width: fit-content;
}